{% extends 'Humanet/base.html' %}

{% block title %}Inicio{% endblock %}
{% block page_name %}Bienvenida a Humanet{% endblock %}

{% block extra_nav %}
  {% if user.is_authenticated %}
      <a href="{% url 'perfil' %}">Perfil</a>
    {% else %}
      <a href="{% url 'login' %}">Únete</a>
    
  {% endif %}
  <a href="{% url 'sobre_nosotros' %}">Sobre nosotros</a>
  <a href="{% url 'lista_eventos' %}">Eventos</a></li>
  <a href="/objetivos/">Objetivo</a>
{% endblock %}

{% block content %}
  <section>
    <h2>¿Qué es Helpy?</h2>
    <p>Esta es tu plataforma de ayuda. Aquí puedes encontrar información y recursos.</p>
    <li><a href="{% url 'crear_evento' %}">Crea tu evento</a></li>
  </section>

  <section>
    <h2>Características principales</h2>
    <ul>
      <li>Fácil de usar</li>
      <li>Rápido y eficiente</li>
      <li>Soporte 24/7</li>
    </ul>
  </section>
{% endblock %}
