{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <style>
        body {
            background-image: url("{% static '\img\fondo.png.png' %}");
            background-size: cover;      /* Ajusta el tamaño */
            background-repeat: no-repeat; /* Evita que se repita */
            background-position: center;  /* Centra la imagen */
            height: 100vh;                /* Ocupa toda la pantalla */
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="contenido">
        <h1>Bienvenido</h1>
    </div>
</body>
</html>