{% extends 'Humanet/base.html' %}

{% block title %}Perfil{% endblock %}
{% block page_name %}Perfil de usuario{% endblock %}

{% block extra_nav %}
  {% if not user.is_authenticated %}

  {% endif %}
  <a href="{% url 'inicio' %}">Inicio</a>
  
{% endblock %}

{% block content %}
  <h2>Bienvenido, {{ user.username }}</h2>
  <p>Nombre: {{ user.first_name }} {{ user.last_name }}</p>
  <p>Correo: {{ user.email }}</p>
  <p>Número celular: {{ perfil.numero_celular }}</p>
  <p>Biografía: {{ perfil.biografia }}</p>
  {% if perfil.foto %}
    <img src="{{ perfil.foto.url }}" alt="Foto de perfil">
  {% endif %}

  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Cerrar sesión</button>
  </form>
{% endblock %}